body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    width: 100%;
    position: relative;
}

.text-container {
    color: #000000;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button-container {
    text-align: center;
}

#prevBtn,
#nextBtn {
    margin: 20px 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #4CAF50;
}